.lightmode,
.darkmode {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: transparent;
}

/* Apply the background color separately */
.lightmode {
  background-color: rgb(255, 255, 255);
}

.darkmode {
  background-color: black;
}