/* Dark mode */
.app.dark{
    
    color: rgb(255, 255, 255);
    display: flex-start;
    height: 100vh;

}
/*  light mode */
.app{
    display: flex;
    /* background-color: white; */
    color: rgb(0, 0, 0)

}