/* Dark mode */
.app.dark{
    /* text color */
    color: rgb(232, 232, 4);
    display: flex-start;
    height: 100vh;

}
/*  light mode */
.app{
    display: flex;
    /* background-color: white; */
    color: rgb(0, 0, 0)

}